extends layout

block styles
  link(rel="stylesheet" type="text/css" href="/vendor/datatables/datatables.bundle.css")

block content
  .container1-page.bg-light
    // breadcrumb
    .bread-crumb.flex-w.p-l-52.p-r-15.p-t-30.p-l-15-sm
      a.s-text15(href="/")
        .la.la-home
        i.fa.fa-angle-right.m-l-8.m-r-9(aria-hidden="true")
      span.s-text16
        | Administrators

    // Content page
    section.p-t-55.p-b-65
      .container
        // administrators 
        .m-portlet.m-portlet--mobile.m-portlet--unair
          .m-portlet__head
            .m-portlet__head-caption
              .m-portlet__head-title
                h3.m-portlet__head-text
                  | Administrators
            .d-flex.align-items-center
              a.btn.btn-clear.rounded-circle(href="/administrators/add" title="Add Administrator")
                i.flaticon-add-circular-button.fa.fa-2x
          .m-portlet__body
            table.table.table-striped.table-hover#m_table_1
              thead.m-datatable__head.bg-dark
                tr.s-text15.text-white
                  th 
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand(for="all")
                      input(type="checkbox" id="all")
                      span
                  th Image
                  th Name
                  th Email
                  th Date
                  th Actions
              tbody
                each administrator in administrators
                  tr.s-text15(id=administrator._id)
                    td
                      label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand(for="check_"+administrator._id)
                        input(type="checkbox" id="check_"+administrator._id)
                        span
                    td
                      img(src=hermescraftUrl+"images/icons/icon-header-01.png" alt=administrator.username style="width: 40px; height: auto; object-fit: cover")
                    td #{administrator.first_name} #{administrator.last_name}
                    td #{administrator.username}
                    td #{new Date(administrator.createdAt).toUTCString()}
                    td
                      .m-portlet__head-tools
                          ul.m-portlet__nav
                            li.m-portlet__nav-item
                              .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(m-dropdown-toggle='hover' aria-expanded='true')
                                a.m-portlet__nav-link.btn.btn-lg.btn-secondary.m-btn.m-btn--icon.m-btn--icon-only.m-btn--pill.m-dropdown__toggle(href='#')
                                  i.la.la-ellipsis-h.m--font-brand
                                .m-dropdown__wrapper
                                  span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                                  .m-dropdown__inner
                                    .m-dropdown__body
                                      .m-dropdown__content
                                        ul.m-nav
                                          li.m-nav__section.m-nav__section--first
                                            span.m-nav__section-text Quick Actions
                                          li.m-nav__item
                                            a.m-nav__link(href='')
                                              i.m-nav__link-icon.flaticon-administrator
                                              span.m-nav__link-text Update Administrator
                                          li.m-nav__item
                                            a.m-nav__link(href='')
                                              i.m-nav__link-icon.fas.fa-user-minus.fa-fw 
                                              span.m-nav__link-text Delete Administrator
                      
                      //
                        .dropdown
                          button.btn.btn-outline-secondary.rounded-circle.p-0.d-flex.align-items-center.justify-content-center(data-toggle='dropdown' style="width: 25px; height: 25px" aria-haspopup="true" aria-expanded="false")
                            i.fas.fa-ellipsis-v
                          .dropdown-menu
                            ul.nav
                              li.nav-item.border-bottom.w-100
                                a.nav-link.text-primary.py-1(href='#') 
                                  i.fas.fa-user-cog.fa-fw
                                  small.pl-1 Update User
                              li.nav-item.w-100
                                a.nav-link.text-danger.py-1(href='#') 
                                  i.fas.fa-user-minus.fa-fw 
                                  small.pl-1 Delete User
            
        // Pagination
          .pagination.flex-m.flex-w.p-t-26.justify-content-center
            each _, i in Array(totalPages)
              if (parseInt(i)+1 == currentPage)
                a.item-pagination.flex-c-m.trans-0-4.active-pagination(href="/products?view=table&page="+(parseInt(i)+1)) #{i+1}
              else
                a.item-pagination.flex-c-m.trans-0-4(href="/products?view=table&page="+(parseInt(i)+1)) #{i+1}

block scripts
  if (message)
    script(type="text/javascript").
        swal("Success", "#{message}", "success");

  // ===============================================================================================
  script(src="/js/products.js")
  // ===============================================================================================

  // ===============================================================================================
  script(src="/vendor/datatables/datatables.bundle.js")
  script(src="/vendor/datatables/buttons.js")
