doctype html
html(lang="en")
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // ===============================================================================================
    link(rel="icon" type="image/png" href="/images/icons/favicon.ico")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="/fonts/themify/themify-icons.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="/fonts/elegant-font/html-css/style.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="/vendor/animate/animate.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="/vendor/slick/slick.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="/vendor/noui/nouislider.min.css")
    // ===============================================================================================
    link(rel="stylesheet" type="text/css" href="/css/util.css")
    link(rel="stylesheet" type="text/css" href="/css/main.css")
    // ===============================================================================================
  body.animsition

    block content

    // Footer
    footer.bg6.p-t-45.p-b-43.p-l-45.p-r-45
      .flex-w.p-b-90
        .w-size6.p-t-30.p-l-15.p-r-15.respon3
          h4.s-text12.p-b-30
            | GET IN TOUCH
          ul
            li.p-b-9
              a.s-text7(href="tel:+233557821030")
                | #[i.fa.fa-phone] +233557821030
            li.p-b-9
              a.s-text7(href="tel:+233557821030")
                | #[i.fa.fa-phone] +233557821030
            li.p-b-9
              a.s-text7(href="mailto:info@hermescraft.com")
                | #[i.fa.fa-envelope] info@hermescraft.com
          div
            .flex-m.p-t-30
              a.fs-18.color1.p-r-20.fa.fa-facebook(href="#")
              a.fs-18.color1.p-r-20.fa.fa-instagram(href="#")
              a.fs-18.color1.p-r-20.fa.fa-pinterest-p(href="#")
              a.fs-18.color1.p-r-20.fa.fa-snapchat-ghost(href="#")
              a.fs-18.color1.p-r-20.fa.fa-youtube-play(href="#")
        .w-size7.p-t-30.p-l-15.p-r-15.respon4
          h4.s-text12.p-b-30
            | Categories
          ul
            li.p-b-9
              a.s-text7(href="#")
                | Disability
            li.p-b-9
              a.s-text7(href="#")
                | Electronics
            li.p-b-9
              a.s-text7(href="#")
                | Medical
        .w-size7.p-t-30.p-l-15.p-r-15.respon4
          h4.s-text12.p-b-30
            | Links
          ul
            li.p-b-9
              a.s-text7(href="#")
                | Shop
            li.p-b-9
              a.s-text7(href="#")
                | About Us
            li.p-b-9
              a.s-text7(href="#")
                | Contact Us
        .w-size7.p-t-30.p-l-15.p-r-15.respon4
          h4.s-text12.p-b-30
            | Help
          ul
            li.p-b-9
              a.s-text7(href="#")
                | Returns
            li.p-b-9
              a.s-text7(href="#")
                | Shipping
            li.p-b-9
              a.s-text7(href="#")
                | FAQs
        .w-size8.p-t-30.p-l-15.p-r-15.respon3
          h4.s-text12.p-b-30
            | Newsletter
          form
            .effect1.w-size9
              input.s-text7.bg6.w-full.p-b-5(type="text" name="email" placeholder="email@example.com")
              span.effect1-line
            .w-size2.p-t-20
              // Button
              button.flex-c-m.size2.bg4.bo-rad-23.hov1.m-text3.trans-0-4
                | Subscribe
      .t-center.p-l-15.p-r-15
        a(href="#")
          img.h-size2(src="/images/icons/paypal.png" alt="IMG-PAYPAL")
        a(href="#")
          img.h-size2(src="/images/icons/visa.png" alt="IMG-VISA")
        a(href="#")
          img.h-size2(src="/images/icons/mastercard.png" alt="IMG-MASTERCARD")
        a(href="#")
          img.h-size2(src="/images/icons/express.png" alt="IMG-EXPRESS")
        a(href="#")
          img.h-size2(src="/images/icons/discover.png" alt="IMG-DISCOVER")
        .t-center.s-text8.p-t-20
          | Copyright © <script>document.write(new Date().getFullYear())</script> All rights reserved.
    // Back to top
    #myBtn.btn-back-to-top.bg0-hov
      span.symbol-btn-back-to-top
        i.fa.fa-angle-double-up(aria-hidden="true")
    // Container Selection
    #dropDownSelect1
    #dropDownSelect2
    // ===============================================================================================
    script(type="text/javascript" src="/vendor/jquery/jquery-3.2.1.min.js")
    script(type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js")
    // ===============================================================================================
    script(type="text/javascript" src="/vendor/animsition/js/animsition.min.js")
    // ===============================================================================================

    // ===============================================================================================
    script(type="text/javascript" src="/vendor/sweetalert/sweetalert.min.js")
    if (error)
        script(type="text/javascript").
            swal("Error", "#{errMsg}", "error");
    if (message)
      script(type="text/javascript").
          swal("#{msgTitle}" ? "#{msgTitle}" : "Success", "#{message}", "success");
    
    block scripts

    // ===============================================================================================
    script(src="/js/main.js")
