extends layout

block styles
  link(rel="stylesheet" type="text/css" href="/vendor/datatables/datatables.bundle.css")

block content
  .container1-page.bg-light
    // breadcrumb
    .bread-crumb.flex-w.p-l-52.p-r-15.p-t-30.p-l-15-sm
      a.s-text15(href="/")
        .la.la-home
        i.fa.fa-angle-right.m-l-8.m-r-9(aria-hidden="true")
      span.s-text16
        | Orders

    // Content page
    section.p-t-55.p-b-65
      .container
        .m-portlet.m-portlet--mobile.m-portlet--unair
          .m-portlet__head
            .m-portlet__head-caption
              .m-portlet__head-title
                h3.m-portlet__head-text
                  | Orders
          .m-portlet__body
            // Orders Datatable
            table.table.table-striped.table-hover#m_table_1
              thead.bg-light
                tr.s-text15
                  th 
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand(for="all")
                      input(type="checkbox" id="all")
                      span
                  th Email
                  th Date
                  th Items Count
                  th Discount
                  th Tax
                  th Subtotal
                  th Total
                  th Actions
              tbody
                each order in orders
                  trs-text15(id=order._id)
                    td
                      label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand(for="check_"+order._id)
                        input(type="checkbox" id="check_"+order._id)
                        span
                    td #{order.user.username}
                    td #{new Date(order.createdAt).toUTCString()}
                    td #{order.items_count}
                    td $#{order.discount}
                    td $#{order.tax}
                    td $#{order.subtotal}
                    td $#{order.total}
                    td
                        .m-portlet__head-tools
                          ul.m-portlet__nav
                            li.m-portlet__nav-item
                              .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(m-dropdown-toggle='hover' aria-expanded='true')
                                a.m-portlet__nav-link.btn.btn-lg.btn-secondary.m-btn.m-btn--icon.m-btn--icon-only.m-btn--pill.m-dropdown__toggle(href='#')
                                  i.la.la-ellipsis-h.m--font-brand
                                .m-dropdown__wrapper
                                  span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                                  .m-dropdown__inner
                                    .m-dropdown__body
                                      .m-dropdown__content
                                        ul.m-nav
                                          li.m-nav__section.m-nav__section--first
                                            span.m-nav__section-text Quick Actions
                                          li.m-nav__item
                                            a.m-nav__link(href=order.receipt_url target="_blank")
                                              i.m-nav__link-icon.flaticon-list-1
                                              span.m-nav__link-text Receipt
                                          li.m-nav__item
                                            a.m-nav__link(href='')
                                              i.m-nav__link-icon.flaticon-delete
                                              span.m-nav__link-text Delete
                    
            
        // Pagination
          .pagination.flex-m.flex-w.p-t-26.justify-content-center
            each _, i in Array(totalPages)
              if (parseInt(i)+1 == currentPage)
                a.item-pagination.flex-c-m.trans-0-4.active-pagination(href="/products?view=table&page="+(parseInt(i)+1)) #{i+1}
              else
                a.item-pagination.flex-c-m.trans-0-4(href="/products?view=table&page="+(parseInt(i)+1)) #{i+1}

block scripts
  if (message)
    script(type="text/javascript").
        swal("Success", "#{message}", "success");

  // ===============================================================================================
  //script(src="/js/orders.js")
  // ===============================================================================================

  // ===============================================================================================
  script(src="/vendor/datatables/datatables.bundle.js")
  script(src="/vendor/datatables/buttons.js")
