extends layout

block styles
  link(rel="stylesheet" type="text/css" href="/vendor/datatables/datatables.bundle.css")

block content
  // Confirm Delete Modal
  .modal.fade#confirm_delete_modal(tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalTitle" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .modal-content
        .modal-header.bg-danger
          h3.modal-title.text-white#confirmDeleteModalTitle(style="font-weight: 700") Delete Product
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p Are you sure you want to delete #[b.product_name ]?
        .modal-footer
          button.btn.btn-secondary.text-secondary(type="button" data-dismiss="modal") Close
          button.btn.btn-danger(type="submit") Delete
  .container1-page.bg-light
    // breadcrumb
    .bread-crumb.flex-w.p-l-52.p-r-15.p-t-30.p-l-15-sm
      a.s-text15(href="/")
        .la.la-home
        i.fa.fa-angle-right.m-l-8.m-r-9(aria-hidden="true")
      span.s-text16
        | Products

    // Content page
    section.p-t-55.p-b-65.bg-light
      .container
        //
          .m-grid__item.m-grid__item--fluid.m-wrapper
            // BEGIN: Subheader
            .m-subheader.mb-5
              .d-flex.align-items-center
                .mr-auto
                  h3.m-subheader__title Products
                div
                  span#m_dashboard_daterangepicker.m-subheader__daterange.rounded-0
                    span.m-subheader__daterange-label
                      span.m-subheader__daterange-title
                      span.m-subheader__daterange-date.m--font-brand
                    a.btn.btn-sm.btn-primary.m-btn.m-btn--icon.m-btn--icon-only.m-btn--custom.m-btn--square(href='#')
                      i.la.la-angle-down
        if (view == 'grid')
          .d-flex.justify-content-between
            h3.m-subheader__title Products
            .toolbar
              if (view == 'grid')
                a.btn.btn-clear.btn-lg.btn-danger.border-danger.mx-1(href="/products?view=grid")
                    i.flaticon-squares-1
              else
                a.btn.btn-clear.btn-lg.btn-outline-danger.border.mx-1(href="/products?view=grid")
                    i.flaticon-squares-1.text-dark
              if (view == 'table')
                a.btn.btn-clear.btn-lg.btn-danger.border-danger.mx-1(href="/products?view=table")
                    i.fa.fa-list
              else
                a.btn.btn-clear.btn-lg.btn-outline-danger.border.mx-2.mx-1(href="/products?view=table")
                  i.fa.fa-list.text-dark
                
              a.btn.btn-clear.btn-outline-dark.btn-lg.rounded-pill(href="/products/add")
                i.flaticon-add-circular-button 
                small Add Product
        if (view == 'grid')
          .flex-sb-m.flex-w.p-b-35
            .flex-w
              .bo4.of-hidden.w-size12.m-t-5.m-b-5.m-r-10
                select.custom-select.border-0.s-text7.w-100(name="sorting" onchange="filterByCategory(this)")
                  option.text-secondary.s-text7(value="all") Sort by category
                  option.text-secondary.s-text7(value="all") All
                    each category in categories
                      option.text-secondary.s-text7(value=category.shortName) #{category.name}
              .bo4.of-hidden.w-size12.m-t-5.m-b-5.m-r-10
                select.custom-select.border-0.s-text7.w-100(name="sorting")
                  option.text-secondary.s-text7 Price
                  option.text-secondary.s-text7 $0.00 - $50.00
                  option.text-secondary.s-text7 $50.00 - $100.00
                  option.text-secondary.s-text7 $100.00 - $150.00
                  option.text-secondary.s-text7 $150.00 - $200.00
                  option.text-secondary.s-text7 $200.00+
              .bo4.of-hidden.w-size12.m-t-5.m-b-5.m-r-10
                input.form-control.border-0.s-text7.w-100(type="search" name="search" placeholder="Search")
            span.s-text8.p-t-5.p-b-5
              | Showing #{products.length}–#{products.length < 12 ? products.length : 12} of #{totalDocs} results
        // Product
        if (view == 'grid')
          .row
            each product in products
              .col-sm-12.col-md-6.col-lg-3.p-b-50
                // Block2
                .block2
                  .block2-img.wrap-pic-w.of-hidden.pos-relative
                    img(src=hermescraftUrl+"images/products/"+product.images[0].name alt=product.name)
                    .block2-overlay.trans-0-4.d-flex.flex-column.align-items-end.pr-1(style='cursor: pointer' onclick="window.location.href='/products/"+product._id+"'")
                      .btn.btn-clear.block2-btn-delete.hov-pointer.trans-0-4.mt-2(data-target="#confirm_delete_modal" data-toggle="modal" data-product=product.name data-url="/products/delete/"+product._id)
                        i.fas.fa-trash-alt.fa-2x.text-danger(aria-hidden="true")
                        i.fas.fa-trash-alt.fa-2x.text-danger.dis-none(aria-hidden="true")
                      
                      a.block2-btn-update.hov-pointer.trans-0-4.mt-2(href="/products/"+product._id role="button" title="Update")
                        i.fa.fa-edit.fa-2x.text-primary(aria-hidden="true")
                        i.fa.fa-edit.fa-2x.text-primary.dis-none(aria-hidden="true")
                      
                      a.block2-btn-view.hov-pointer.trans-0-4.mt-2(href=hermescraftUrl+"shop/product/"+product._id role="button" title="View" target="_blank")
                        i.fa.fa-external-link-alt.fa-2x.text-light.pr-1(aria-hidden="true")
                        i.fa.fa-external-link-alt.fa-2x.text-light.dis-none(aria-hidden="true")
                      //
                        .block2-btn-addcart.w-size1.trans-0-4
                          // Button
                          button.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4
                            | Add to Cart
                  .block2-txt.p-t-20
                    a.block2-name.dis-block.s-text3.p-b-5(href="product-detail.html")
                      | #{product.name}
                    span.block2-price.m-text6.p-r-5
                      | $#{parseFloat(product.price).toFixed(2)}
          // Pagination
          .pagination.flex-m.flex-w.p-t-26
            each _, i in Array(totalPages)
              if (parseInt(i)+1 == currentPage)
                a.item-pagination.flex-c-m.trans-0-4.active-pagination(href="/products?page="+(parseInt(i)+1)) #{i+1}
              else
                a.item-pagination.flex-c-m.trans-0-4(href="/products?page="+(parseInt(i)+1)) #{i+1}
        
        else 
          .m-portlet.m-portlet--mobile.m-portlet--unair
            //
            .m-portlet__head.d-flex.justify-content-between.align-items-center
              .m-portlet__head-caption
                .m-portlet__head-title
                  h3.m-portlet__head-text
                    | Products
              .toolbar
                if (view == 'grid')
                  a.btn.btn-clear.btn-lg.btn-danger.border-danger.mx-1(href="/products?view=grid")
                      i.flaticon-squares-1
                else
                  a.btn.btn-clear.btn-lg.btn-outline-danger.border.mx-1(href="/products?view=grid")
                      i.flaticon-squares-1.text-dark
                if (view == 'table')
                  a.btn.btn-clear.btn-lg.btn-danger.border-danger.mx-1(href="/products?view=table")
                      i.fa.fa-list
                else
                  a.btn.btn-clear.btn-lg.btn-outline-danger.border.mx-2.mx-1(href="/products?view=table")
                    i.fa.fa-list.text-dark
                  
                a.btn.btn-clear.btn-outline-dark.btn-lg.rounded-pill(href="/products/add")
                  i.flaticon-add-circular-button 
                  small Add Product
            .m-portlet__body
              table.table.table-striped.table-hover#m_table_1
                thead.bg-dark
                  tr.s-text15.text-white
                    th 
                      label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand(for="all")
                        input(type="checkbox" id="all")
                        span
                    th Image
                    th Name
                    th Category
                    th Description
                    th Price
                    th Actions
                tbody
                  each product in products
                    tr.s-text15
                      td
                        label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand(for="check_"+product._id)
                          input(type="checkbox" id="check_"+product._id)
                          span
                      td
                        img(src=hermescraftUrl+"images/products/"+product.images[0].name alt=product.name style="width: 50px; height: auto; object-fit: cover")
                      td #{product.name}
                      td #{product.category}
                      td #{product.description}
                      td $#{product.price}
                      td
                        .m-portlet__head-tools
                          ul.m-portlet__nav
                            li.m-portlet__nav-item
                              .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(m-dropdown-toggle='hover' aria-expanded='true')
                                a.m-portlet__nav-link.btn.btn-lg.btn-secondary.m-btn.m-btn--icon.m-btn--icon-only.m-btn--pill.m-dropdown__toggle(href='#')
                                  i.la.la-ellipsis-h.m--font-brand
                                .m-dropdown__wrapper
                                  span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                                  .m-dropdown__inner
                                    .m-dropdown__body
                                      .m-dropdown__content
                                        ul.m-nav
                                          li.m-nav__section.m-nav__section--first
                                            span.m-nav__section-text Quick Actions
                                          li.m-nav__item
                                            a.m-nav__link(href="/products/"+product._id)
                                              i.m-nav__link-icon.flaticon-edit
                                              span.m-nav__link-text Update Product
                                          li.m-nav__item
                                            a.m-nav__link(href="#confirm_delete_modal" data-toggle="modal" data-product=product.name data-url="/products/delete/"+product._id)
                                              i.m-nav__link-icon.flaticon-delete
                                              span.m-nav__link-text Delete Product
                
block scripts
  if (message)
    script(type="text/javascript").
        swal("Success", "#{message}", "success");
  script(type="text/javascript").
      $('.block2-btn-delete').on('click', function(e){
        const button = $(this)
        let product = $(button).data('product');
        const url = $(button).data('url');
        if (!product){
            product = "the selected item(s)"
        }
        $("#confirm_delete_modal").modal("show")
        const modal = $("#confirm_delete_modal");
        modal.find('.product_name').html(product);
        modal.find(".modal-footer button[type='submit']").attr('onclick', `window.location.href='${url}'`)
        e.stopPropagation()
      });
      $('.block2-btn-view').on('click', function(e){
        e.stopPropagation()
      });
  // ===============================================================================================
  script(src="/js/products.js")
  // ===============================================================================================

  // ===============================================================================================
  script(src="/vendor/datatables/datatables.bundle.js")
  script(src="/vendor/datatables/buttons.js")
