extends layout

block content
  .container1-page
    // breadcrumb
    .bread-crumb.bgwhite.flex-w.p-l-52.p-r-15.p-t-30.p-l-15-sm
      a.s-text16(href="/")
        | Home
        i.fa.fa-angle-right.m-l-8.m-r-9(aria-hidden="true")
      a.s-text16(href="/products")
        | Products
        i.fa.fa-angle-right.m-l-8.m-r-9(aria-hidden="true")
      span.s-text17
        | #{product.name}
    // Product Detail
    .container.bgwhite.p-t-35.p-b-80
      .flex-w.flex-sb
        .w-size13.p-t-30.respon5
          .wrap-slick3.flex-sb.flex-w
            .wrap-slick3-dots
            .slick3
              each image in product.images
                .item-slick3(data-thumb=hermescraftUrl+"images/products/"+image.name)
                  .wrap-pic-w
                    img(src=hermescraftUrl+"images/products/"+image.name alt="IMG-PRODUCT")
              if (product.images.length < 3)
                each _, i in Array(3 - product.images.length)
                  .item-slick3(data-thumb=hermescraftUrl+"images/thumb-item-01.jpg"  onclick="$('#image3').click()")
                    .wrap-pic-w(style='cursor: pointer')
                      img(src=hermescraftUrl+"images/product-detail-01.jpg" alt="IMG-PRODUCT")
        .w-size14.p-t-30.respon5
          form(action='/products/update/'+product._id method="POST" enctype="multipart/form-data").leave-comment
            h4.m-text26.p-b-36.p-t-15
              | Product Details
            .of-hidden.size15.m-b-20
              .flex-m.flex-w.p-b-10
                .s-text15.w-size15
                  | Name
                .bo4.of-hidden.w-size16(style='height: 45px')
                  input.sizefull.s-text7.p-l-22.p-r-22(type="text" value=product.name name="name" placeholder="Product Name" required="required")
            .of-hidden.size15.m-b-20
              .flex-m.flex-w.p-b-10
                .s-text15.w-size15
                  | Category
                .bo4.of-hidden.w-size16
                  select.custom-select.border-0.s-text7.w-100(name="category" required="required")
                    each category in categories
                      if (category.shortName === product.category)
                        option.text-secondary.s-text7(value=category.shortName selected="selected") #{category.name}
                      else
                        option.text-secondary.s-text7(value=category.shortName) #{category.name}
            .of-hidden.size15.m-b-20
              .flex-m.flex-2.p-b-10
                .s-text15.w-size15
                  | Brand
                .bo4.of-hidden.w-size16(style='height: 45px')
                  input.sizefull.s-text7.p-l-22(type="text" name="brand" placeholder="Product Brand")
            .of-hidden.size15.m-b-20
              .flex-m.flex-w.p-b-10
                .s-text15.w-size15
                  | Size
                .bo4.of-hidden.w-size16
                  select.custom-select.border-0.s-text7.w-100(name="size")
                    option.text-secondary.s-text7(value="") Choose an option
                    each size in ['s', 'm', 'l', 'xl']
                      if (size == product.size)
                        option.text-secondary.s-text7(value=size selected="selected") Size #{size.toUpperCase()}
                      else
                        option.text-secondary.s-text7(value=size) Size #{size.toUpperCase()}
            .of-hidden.size15.m-b-20
              .flex-m.flex-w.p-b-10
                .s-text15.w-size15
                  | Color
                .bo4.of-hidden.w-size16(style='height: 45px')
                  input.sizefull.s-text7(type="color" name="color" value=product.color)
            textarea.dis-block.s-text7.size20.bo4.p-l-22.p-r-22.p-t-13.m-b-20(name="description" value=product.description placeholder="Description" required="required") #{product.description}
            .of-hidden.size15.m-b-20
              .flex-m.flex-w.p-b-10
                .s-text15.w-size15
                  | Price
                .bo4.of-hidden.w-size16(style='height: 45px')
                  input.sizefull.s-text7.p-l-22.p-r-22(type="number" name="price" value=product.price inputmode="numeric" step=0.01 placeholder="0.00" required="required")
            .w-100.flex-m.mt-2.justify-content-end
              // Buttons
              a(href="/products/delete/"+product._id role="button").flex-c-m.size2.bg0.bo-rad-23.hov1.m-text3.trans-0-4
                | Delete
              button(type="submit").flex-c-m.size2.bg1.bo-rad-23.m-text3.trans-0-4
                | Update
