extends layout

block content
  include includes/delete_modal.pug
  // Add Contact Modal
  .modal.fade#add_contact_modal(tabindex="-1" role="dialog" aria-labelledby="addContactModalTitle" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .modal-content
        form(action="/settings/contacts/add" method="POST")
          .modal-header.bg-primary
            h3.modal-title.text-white#addContactModalTitle(style="font-weight: 700") Add Contact Info
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            .of-hidden.size15.m-b-20
              .flex-m.flex-w.p-b-10
                .s-text15.w-size15
                  | Type
                .bo4.of-hidden.w-size16
                  select.custom-select.border-0.s-text7.w-100(name="type")
                    option.text-secondary.s-text7(value="") Choose an option
                    option.text-secondary.s-text7(value="email") Email
                    option.text-secondary.s-text7(value="phone") Phone
            .of-hidden.size15.m-b-20
              .flex-m.flex-2.p-b-10
                .s-text15.w-size15
                  | Text
                .bo4.of-hidden.w-size16(style='height: 45px')
                  input.sizefull.s-text7.p-l-22(type="text" name="text" placeholder="e.g info@example.org")
            .of-hidden.size15.m-b-20
              .flex-m.flex-2.p-b-10
                .s-text15.w-size15
                  | Link (Url)
                .bo4.of-hidden.w-size16(style='height: 45px')
                  input.sizefull.s-text7.p-l-22(type="text" name="url" placeholder="e.g mailto:inf@example.org")
          .modal-footer
            button.btn.btn-secondary.text-secondary(type="button" data-dismiss="modal") Close
            button.btn.btn-primary(type="submit") Save
  .container1-page.bg-light
    // breadcrumb
    .bread-crumb.flex-w.p-l-52.p-r-15.p-t-30.p-l-15-sm
      a.s-text15(href="/")
        i.la.la-home
        i.fa.fa-angle-right.m-l-8.m-r-9(aria-hidden="true")
      span.s-text16
        | Settings
    // Content page
    section.p-t-55.p-b-20
      .container
        .m-grid__item.m-grid__item--fluid.m-wrapper
          // BEGIN: Subheader
          .m-subheader.mb-5
            .d-flex.align-items-center
              .mr-auto
                h3.m-subheader__title Settings
              div
                span#m_dashboard_daterangepicker.m-subheader__daterange.rounded-0
                  span.m-subheader__daterange-label
                    span.m-subheader__daterange-title
                    span.m-subheader__daterange-date.m--font-brand
                  a.btn.btn-sm.btn-primary.m-btn.m-btn--icon.m-btn--icon-only.m-btn--custom.m-btn--square(href='#')
                    i.la.la-angle-down
          // END: Subheader
          .m-content
            // Begin::Section
            .row
              .col-xl-4
                .m-portlet.m-portlet--full-height.m-portlet--unair
                  .m-portlet__head
                    .m-portlet__head-caption
                      .m-portlet__head-title
                        h3.m-portlet__head-text
                          | Site Settings
                  .m-portlet__body
                    .row
                      .col-md-12.respon5
                        .of-hidden.m-b-20
                          .flex-m.flex-w.p-b-10
                            .s-text15.w-100
                              | Name
                            .bo4.of-hidden.w-100(style='height: 45px')
                              input.sizefull.s-text7.p-l-22.p-r-22(type="text" name="name" value=siteInfo[0].name placeholder="Site Name" required="required")
                      .col-md-12.respon5
                        .of-hidden.m-b-20
                          .flex-m.flex-w.p-b-10
                            .s-text15.w-100
                              | Homepage Url
                            .bo4.of-hidden.w-100(style='height: 45px')
                              input.sizefull.s-text7.p-l-22.p-r-22(type="text" name="name" value=siteInfo[0].url placeholder="Site Name" required="required")
                      .col-md-4.d-flex.align-items-center
                        .block2
                          .s-text15.w-100
                              | Site Favicon
                          .block2-img.wrap-pic-w.of-hidden.pos-relative
                            img(src=hermescraftUrl+"images/shop-item-09.jpg" id="favicon" alt="IMG-ABOUT" style="cursor: pointer")
                            .block2-overlay.newproduct.trans-0-4.d-flex.flex-column.align-items-end.pr-1()
                      .col-md-8.d-flex.align-items-center
                        .block2
                          .s-text15.w-100
                              | Site Logo
                          .block2-img.wrap-pic-w.of-hidden.pos-relative
                            img(src=hermescraftUrl+"images/shop-item-09.jpg" id="favicon" alt="IMG-ABOUT" style="cursor: pointer")
                            .block2-overlay.newproduct.trans-0-4.d-flex.flex-column.align-items-end.pr-1()
                      .col-md-12.d-flex.justify-content-center.m-t-30
                        // Button
                        button(type="submit").btn.btn-lg.btn-primary.px-5.rounded-pill.flex-c-m.bo-rad-23.hov1.m-text3.trans-0-4
                          | Update
              .col-xl-8
                .m-portlet.m-portlet--full-height.m-portlet--unair
                  .m-portlet__head.d-flex.justify-content-between.align-items-center
                    .m-portlet__head-caption
                      .m-portlet__head-title
                        h3.m-portlet__head-text
                          | Contact Info
                    .toolbar
                      a.btn.btn-clear(href="#add_contact_modal" data-toggle="modal")
                        i.flaticon-add-circular-button.fa.fa-2x
                  .m-portlet__body
                    .row
                      each contact in siteInfo[0].contacts
                        .col-md-6.mb-5
                          form(action='/settings/contacts/update' method="POST")
                            input(type='hidden' name='contact' value=contact._id)
                            .row
                              .col-md-12.respon5
                                .of-hidden.m-b-20
                                  .flex-m.flex-w.p-b-10
                                    .s-text15.w-100
                                      | Text
                                    .bo4.of-hidden.w-100(style='height: 45px')
                                      input.sizefull.s-text7.p-l-22.p-r-22(type="text" name="text" value=contact.text placeholder="Contact Text" required="required")
                              .col-md-12.respon5
                                .of-hidden.m-b-20
                                  .flex-m.flex-w.p-b-10
                                    .s-text15.w-100
                                      | Url
                                    .bo4.of-hidden.w-100(style='height: 45px')
                                      input.sizefull.s-text7.p-l-22.p-r-22(type="text" name="url" value=contact.url placeholder="Contact Url" required="required")
                          
                              .col-md-12.d-flex.justify-content-end
                                // Buttons
                                a(href="#confirm_delete_modal" data-toggle="modal" data-contact=contact.text data-url="/settings/contacts?action=delete&contact="+contact._id).block2-btn-delete.btn.btn-sm.btn-outline-danger.px-3.rounded-pill.flex-c-m.bo-rad-23.m-text3.trans-0-4
                                  | Delete
                                button(type="submit").btn.btn-sm.btn-outline-primary.px-3.ml-2.rounded-pill.flex-c-m.bo-rad-23.m-text3.trans-0-4
                                  | Update
                          hr

            
            // End::Section



block scripts
  if (error)
    script(type="text/javascript").
        swal("Error", "#{errMsg}", "error");
  if (message)
    script(type="text/javascript").
        swal("#{msgTitle}" ? "#{msgTitle}" : "Success", "#{message}", "success");
  script(type="text/javascript").
      $('.block2-btn-delete').on('click', function(e){
        const button = $(this)
        const contact = $(button).data('contact');
        const url = $(button).data('url');

        $("#confirm_delete_modal").modal("show")
        const modal = $("#confirm_delete_modal");
        modal.find('.name').html(contact);
        modal.find(".modal-footer button[type='submit']").attr('onclick', `window.location.href='${url}'`)
        e.preventDefault();
        e.stopPropagation();
      });
      $('.block2-btn-view').on('click', function(e){
        e.stopPropagation()
      });
  // ========================================================
  script(src='/js/settings.js' type='text/javascript')
  script(src="/js/image-preview.js")
